html
  head
    meta(name='viewport', content='width=device-width')    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114120794-1"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-114120794-1'); </script>

  style(type="text/css").
    html,
    body,
    .flex-container{
      min-height: 100%;
      margin: 0;
    }    
    .flex-container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flex-child{
      max-width: 80%;
    }
    
    code{
      border: solid 1px lightslategray;
      padding: 0.5em;
      display: block;
    }    
    .numbers {
      word-wrap: break-word;
      position: fixed;
      top: 0;
      max-width: 100%;
      color: lightslategray;
      overflow: hidden;
      z-index: -1;
      font-family: monospace;
    }
    .message{
      border: solid 2px lightslategray;
      background: white;
      padding: 1em;
    }

    @media(min-width: 960px){
      .flex-child{
        max-width: 50%;
      }

      code{
        display: inline;
      }
    }


  body

    div(class='numbers') #{bytes}

    div(class='flex-container')
      div(class='flex-child')
        div(class='message')
          h1 Hello
          
          p My name is
            | 
            strong #{path}
            |  
            |and I am unique! I have never been seen before! 
            
          p But after you leave this page
            | 
            strong no one will ever see me again
            |  : /
            
          p Links to me will return:
            | 
            code 404 (page not found)
            
          p Reloading the page will return:
            | 
            code 404 (page not found)
            
          p Once you leave I will be gone... forever.
